body {
    background-image: url("grass.jpg");
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.container {
    background-color: rgb(255, 255, 255, 1);
    border: 5px outset #999;
}

h1 {
    font-family: 'Monoton', cursive;
    font-size: 50px;
    padding-top: 10px;
}

h1:hover {
    background: linear-gradient(to right, rgb(198, 243, 198) , rgb(2, 68, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#start {
    margin-bottom: 10px;
}

.answer-choice:hover {
    color: green;
}

#yay {
    font-size: 26px;
    font-weight: bold;
}

#image-holder {
    margin-bottom: 30px;
}

.stats {
    font-weight: bold;
    margin-bottom: 10px;
}


#game-over {
    font-size: 30px;
    font-weight: bold;
}

.push {
    padding: 10px 0px;
}